/* Etch-a-sketch CSS */

.gridsquare {
    display: flex;
    background-color: blueviolet;
    border-style: solid;
    width: 62.5px;
    height: 62.5px;
}

#content {
    width: 1070px;
    display: flex;
    flex-wrap: wrap;
}