/* Etch-a-sketch CSS */

#content {
    display: flex;
    flex-direction: column;
    border-style: solid;
    height: 500px;
    width: 500px;
}

.gridline {
    display: flex;
    flex: 1;
}

.gridsquare {
    flex: 1;
    /* background-color: blueviolet;
    border-style: solid; */  
}

.colored {
    background-color: black;
}